<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menampilkan Data dari API Flask</title>
</head>
<style>
    #output td {
        border: black;
        border-style: solid;
        padding: 15px;
    }

    #output tr a {
        text-decoration: none;
    }
</style>
<body>
    <h1>User Data Tabel</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <th>Aksi</th>
        </thead>
        <tbody id="output">
            <!-- Tempat data akan ditampilkan -->
        </tbody>
        
    </table>
    <div>
        <h1>tambah data</h1>
        <a href="{{url_for('register')}}" style="text-decoration: none; color: blue;">+ tambah</a>
    </div>
</body>
<script>
    fetch('/api/data', {
    headers: {
        apiKey : 'abc123'
    }
    })
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('output');
                while (tableBody.firstChild) {
                    tableBody.removeChild(tableBody.firstChild);
                }
                data.forEach(data => {
                    const row = tableBody.insertRow();
                    const cell1 = row.insertCell(0);
                    const cell2 = row.insertCell(1);
                    const cell3 = row.insertCell(2);
                    const cell4 = row.insertCell(3);
                    cell1.textContent = `${data[0]}`;
                    cell2.textContent = `${data[1]}`;
                    cell3.textContent = `${data[2]}`;
                    const edit = document.createElement('a');
                    edit.textContent = 'Edit';
                    edit.href = '/edit'
                    const l = document.createElement('p')
                    l.textContent = '|' 
                    const hapus = document.createElement('a');
                    hapus.textContent = 'Hapus';
                    hapus.href = '/hapus'
                    cell4.appendChild(edit);
                    cell4.appendChild(l);
                    cell4.appendChild(hapus);
                });
            })
            .catch(error => console.error('Error:', error));
</script>
</html>
