<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Table</title>
</head>
<body>

    <h1>Data Table</h1>

    <table id="dataTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be displayed here -->
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', fetchData);

        async function fetchData() {
            const api-key = 'abc123'; // Gantilah 'your_api_key' dengan nilai API key yang sesuai

            try {
                const response = await fetch('/api/data', {
                    headers: {
                        'api_key': api_key
                    }
                });
                
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const data = await response.json();
                displayData(data);
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        function displayData(user_data) {
            const tableBody = document.querySelector('#dataTable tbody');
            
            // Remove old data (if any)
            while (tableBody.firstChild) {
                tableBody.removeChild(tableBody.firstChild);
            }

            // Add new data to the table
            user_data.forEach(item => {
                const row = tableBody.insertRow();
                const cell1 = row.insertCell(0);
                const cell2 = row.insertCell(1);
                const cell3 = row.insertCell(2);
                cell1.textContent = item.id;
                cell2.textContent = item.email;
                cell3.textContent = item.password
            });
        }
    </script>

</body>
</html>
