<h1 style="color: white; text-decoration: underline;">Edit Page</h1>
<div id="content-form">
    <form id="uploadForm" action="/logo" method="post" enctype="multipart/form-data">
        Logo 1
        <input type="file" name="image" accept="image/*">
    </form>

    <form id="uploadForm" action="/logoo" method="post" enctype="multipart/form-data">
        Logo 2
        <input type="file" name="image" accept="image/*">
    </form>

    <form id="uploadForm" action="/banner_a" method="post" enctype="multipart/form-data">
        Banner 1
        <input type="file" name="image" accept="image/*">
    </form>

    <form id="uploadForm" action="/banner_b" method="post" enctype="multipart/form-data">
        Banner 2
        <input type="file" name="image" accept="image/*">
    </form>

    <form id="uploadForm" action="/banner_c" method="post" enctype="multipart/form-data">
        Banner 3
        <input type="file" name="image" accept="image/*">
    </form>

    <button class="btn btn-primary" id="uploadButton" onclick="uploadImages()">Upload Edit</button>
</div>