<h1 style="color: white; text-decoration: underline;">Invoice</h1>
<div class="isi" style="display: flex; flex-wrap: wrap; gap: 20px;">
    <div class="AnalisisPengunjung" style="position: relative">
        <div class="Bg" style="width: 320px; height: 200px; left: 0px; top: 0px; background: #273142; border-radius: 14px; border: 1px #313D4F solid; position: relative;"></div>
        <div class="IcTrendingUp24px" style="width: 133.68px; height: 137.25px; left: 304.35px; top: 17.41px; position: absolute">
          <div class="Path" style="width: 133.68px; height: 137.25px; left: 0px; top: 0px; position: absolute"></div>
        </div>
        <div class="AnalisisPengunjung" style="width: 205px; height: 32px; left: 29px; top: 32px; position: absolute; opacity: 0.70; color: white; font-size: 20px; font-family: Nunito Sans; font-weight: 600; word-wrap: break-word">Cek Invoice</div>
        <div class="SilahkanLoginKeGoogleAnalyticAndaKlikDisini" style="width: 241px; height: 110px; left: 45px; top: 83px; position: absolute; color: white; font-size: 20px; font-family: Nunito Sans; font-weight: 600; word-wrap: break-word">Silahkan Login ke Midtrans Anda. Klik <a href="https://dashboard.midtrans.com/beta/transactions">disini</a>.</div>
    </div>
</div>