<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="static/img/comic.png" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/register.css') }}"
    />
  </head>
  <body style="background-image: url({{url_for('static', filename="img/bullseye-gradient.svg")}})">
    <div class="container">
      <div class="card">
        <form method="post" action="{{ url_for('registerdb') }}">
          <h2 class="register">Register</h2>
          <p id="passwordError"></p>
          <input type="email" placeholder="email" name="email" id="email" autocomplete="on" required />
          <input
            type="password"
            minlength="8"
            id="password"
            name="password"
            placeholder="Password"
            autocomplete="password"
            oninput="checkPasswords()"
          />
          <input
            type="password"
            minlength="8"
            name="password"
            id="confirmPassword"
            placeholder="confirm password"
            oninput="checkPasswords()"
          />
          <button
            class="tombol-register"
            type="submit"
            value="Register"
            id="registerButton"
            disabled
            onclick="redirectToLogin()"
          >
            Register
          </button>
        </form>
        <div class="switch">
          <h5>Already have account?</h5>
          <a href="{{ url_for('login') }}">Login</a>
        </div>
      </div>
    </div>
    <script>
      function checkForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var fullName = document.getElementById("fullName").value;
        var phoneNumber = document.getElementById("phoneNumber").value;
        var errorElement = document.getElementById("passwordError");
        var registerButton = document.getElementById("registerButton");
      
        if (password !== confirmPassword) {
          errorElement.textContent = "Password dont match";
          errorElement.style.textAlign = "center";
          errorElement.style.backgroundColor = "red";
          errorElement.style.padding = "10px";
          errorElement.style.color = "#fff";
          disableButton();
          return;
        } else if (password.length && confirmPassword.length) {
          errorElement.textContent = "Form is ready!";
          errorElement.style.textAlign = "center";
          errorElement.style.backgroundColor = "green";
          errorElement.style.padding = "10px";
          errorElement.style.color = "#fff";
        }
      
        if (fullName.trim() === "" || phoneNumber.trim() === "") {
          errorElement.textContent = "complete the form";
          errorElement.style.textAlign = "center";
          errorElement.style.fontWeight = "600";
          errorElement.style.backgroundColor = "red";
          errorElement.style.padding = "10px";
          errorElement.style.color = "#fff";
          disableButton();
          return;
        }
      
        enableButton();
      }
      
      function disableButton() {
        var registerButton = document.getElementById("registerButton");
        registerButton.disabled = true;
      }
      
      function enableButton() {
        var registerButton = document.getElementById("registerButton");
        registerButton.disabled = false;
      }
      
      function redirectToLogin() {

        window.location.href = "/";
      }
      
      // Call checkForm on input events
      document.getElementById("password").addEventListener("input", checkForm);
      document.getElementById("confirmPassword").addEventListener("input", checkForm);
      document.getElementById("fullName").addEventListener("input", checkForm);
      document.getElementById("phoneNumber").addEventListener("input", checkForm);
      
      // Call checkForm on page load to handle initial state
      document.addEventListener("DOMContentLoaded", checkForm);
      
    </script>
  </body>
</html>
